@using WebUI.Models
@model Domain.Entities.Lot
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 id="main_title">

    @Model.Title

    @if (Model.UserId == ViewBag.sessionUserId)
    {
        <input type="button" value="Edit" class="pull-right btn btn-info"
               style="margin-right: 20px; padding-right: 29px; padding-left: 29px;"
               onclick="location.href = '@Url.Action("Update",new{Model.Id})'" />
    }
    else if (Model.IsEnded == false)
    {
        if (Model.GoldPrice != null)
        {
            @Html.Partial("ModalBuyLot", Model);
        }

        @Html.Partial("ModalBidOn", Model);
    }
</h4>

<hr />



<div class="well">
    <div class="div101">
        <img width="200" height=200 src="@Url.Action("GetImage", "Lot", new {Model.Id})" />
    </div>

    <div class="div102">
        <span class="lead"> @Model.Description </span>
    </div>
</div>

<div>
    <h4>
        <span class="pull-left label label-info">
            From @Model.UploadDate.Day.@Model.UploadDate.Month.@Model.UploadDate.Year
        </span>
    </h4>

    <h4>
        @if (Model.Bids != null)
        {
            <span class="pull-right label label-primary">
                Current bid: @Model.CurrentPrice.ToString("c")
            </span>
        }
        else
        {
            <span class="pull-right label label-primary">No bids yet</span>
        }
    </h4><br />

    <h4>
        <span class="pull-left label label-warning">
            Till @Model.EndOfTranding.Day.@Model.EndOfTranding.Month.@Model.EndOfTranding.Year
        </span>
    </h4>

    <h4>
        @if (Model.GoldPrice != null)
        {
            <span class="pull-right label label-default">
                Gold price: @Model.GoldPrice.Value.ToString("c")
            </span>@*TODO:if NULL*@
        }
    </h4><br />

    @if (ViewBag.IsValid == false)
    {
        @Html.Partial("ModalBidOn", Model);
    }

</div>
